<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Flash Card game</title>
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container" ontouchstart="this.classList.toggle('hover');">
  <div class="card">
    <div class="card_front">
      <div class="card-text">
        <p>{{ word.word }}</p>
      </div>

    </div>

    <div class="card_back">
      <div class="card-text">
        <p>{{ word.word_translation }}</p>
      </div>
    </div>

  </div>
</div>
<!-- partial -->
  
</body>
</html>
